{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Contact Form" %}

{% block content %}
    <h1>Contact Form</h1>
    <form action="{{ path('_demo_contact') }}" method="POST" id="contact_form">
        {{ form_errors(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.message) }}

        {{ form_rest(form) }}
        <input type="submit" value="Send" class="symfony-button-grey" />
    </form>
{% endblock %}
